---
layout: base
---

<article class="post">
  <h1>{{ title }}</h1>
  {% if author %}<span>By {{ author }}</span>{% endif %}
  <div class="post-meta-header">
    <span>{{ date | formatDate: "%B %d, %Y" }}</span>
  </div>
  <div class="post-content">
    {{ content }}
  </div>

  <a href="{{ '/' | url }}" class="back-link">← Back to home</a>
</article>
